<!DOCTYPE html>
<html ng-app="volunteersApp">
	<head>
		<title>Pina-Chama</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link rel = "stylesheet" href="../css/business-casual.css" />
		<link rel = "stylesheet" href="../css/style.css" />
		<link rel = "stylesheet" href="../css/posts.css" />
		<link rel = "stylesheet" href="../css/outOfStock.css" />
		<link rel = "stylesheet" href="../css/register.css"/>
		<link rel = "stylesheet" type = "text/css" href = "../css/sweetalert.css" />
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
		
		<!-- third party javascript -->
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="../js/bootstrap.min.js"></script>
	</head>
    
	<body id = "mainBody">
		<!-- scripts -->
		<script type="application/javascript" src="../js/angular.min.js"></script>
		<script type="application/javascript" src="../js/angular-route.min.js"></script>
		<script type="application/javascript" src="../js/volunteersApp.js"></script>
		<script src = "../js/sweetalert.min.js"></script>
		
		<header>
			<div class = "connection" ng-controller="connectionContreoller">
				<span>שלום </span>
				<span id = "userName"></span>
				<a id = "googleLogout" ng-click="signOut()" href="">, התנתק</a>
			</div>
			<div class = "personalDetails">
				<a id = "personalDetailsTitle" href = "#/personalDetails">פרטים אישיים</a>
				<img src="../img/person.png"></img>
			</div>
			<div class="ProjectTitle">Pina-Chama</div>
			<div class="secondTitle">לזכר ד"ר שמואל גיליס וצחי ששון הי"ד</div>
		</header>
		
		<nav ng-controller="navContreoller as nav">
			<div class="container">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a id = "navTab5" class = "navTabs" href = "#/guestBook">ספר אורחים וחיילים</a>
						</li>
						<li ng-controller="arrangementController">
							<a id = "navTab4" class = "navTabs" href = "#/arrangement" ng-click="loadShiftsDB()">סידור התנדבות</a>
						</li>
						<li ng-controller="stockController">
							<a id = "navTab3" class = "navTabs" href = "#/stock" ng-click="loadStockDB()">חסרים במלאי</a>
						</li>
						<li>
							<a id = "navTab2" class = "navTabs" href = "#/guides">מדריכים</a>
						</li>
						<li ng-controller="mainController">
							<a id = "navTab1" class = "activeTab" href = "#/main" ng-click="loadMessagesDB()">בית</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div ng-view class = "container">
		
		</div>
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<br><br>
						<a href="#/contactUs">צור קשר</a> | <a href="#/about">אודות</a> | <a href="https://www.facebook.com/pinahama2015/?fref=ts">פייסבוק</a>
						<p class="text">Copyright &copy; Pina-Chama 2016, Hila Ophek & Alona Yagen & Tom Matityahu & Moran Asayag</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>