<div class="row">
	<div class="box">
		<hr>
		<h2 class="intro-text text-center">פינת
			<strong>סידור התנדבות</strong>
		</h2>
		<hr>
		
		<div class="row">
			<section>
				<div class="tabs tabs-style-linemove">
					<nav>
						<ul>
							<li><a id = "mainTab" href="#section-linemove-1"><span>הצגת לוח משמרות</span></a></li>
							<li><a href="#section-linemove-2"><span>הגשת בקשה למשמרת</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linemove-1">
							<div class = "volArrangementDiv">
								<div class="col-md-4">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ימים<br>שעות</div>
								</div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.firstShift.volunteer1Name !== ''">{{thuShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.firstShift.volunteer1Name === ''">{{thuShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.firstShift.volunteer2Name !== ''">{{thuShifts.firstShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.firstShift.volunteer2Name === ''">{{thuShifts.firstShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.firstShift.volunteer1Name !== ''">{{wedShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.firstShift.volunteer1Name === ''">{{wedShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.firstShift.volunteer2Name !== ''">{{wedShifts.firstShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.firstShift.volunteer2Name === ''">{{wedShifts.firstShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.firstShift.volunteer1Name !== ''">{{tueShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.firstShift.volunteer1Name === ''">{{tueShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.firstShift.volunteer2Name !== ''">{{tueShifts.firstShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.firstShift.volunteer2Name === ''">{{tueShifts.firstShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.firstShift.volunteer1Name !== ''">{{monShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.firstShift.volunteer1Name === ''">{{monShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.firstShift.volunteer2Name !== ''">{{monShifts.firstShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.firstShift.volunteer2Name === ''">{{monShifts.firstShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.firstShift.volunteer1Name !== ''">{{sunShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.firstShift.volunteer1Name === ''">{{sunShifts.firstShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.firstShift.volunteer2Name !== ''">{{sunShifts.firstShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.firstShift.volunteer2Name === ''">{{sunShifts.firstShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">07:00 - 08:30</div>
								</div>
								<div class = "cenCakeHr"></div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.secondShift.volunteer1Name !== ''">{{thuShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.secondShift.volunteer1Name === ''">{{thuShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.secondShift.volunteer2Name !== ''">{{thuShifts.secondShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.secondShift.volunteer2Name === ''">{{thuShifts.secondShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.secondShift.volunteer1Name !== ''">{{wedShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.secondShift.volunteer1Name === ''">{{wedShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.secondShift.volunteer2Name !== ''">{{wedShifts.secondShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.secondShift.volunteer2Name === ''">{{wedShifts.secondShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.secondShift.volunteer1Name !== ''">{{tueShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.secondShift.volunteer1Name === ''">{{tueShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.secondShift.volunteer2Name !== ''">{{tueShifts.secondShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.secondShift.volunteer2Name === ''">{{tueShifts.secondShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.secondShift.volunteer1Name !== ''">{{monShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.secondShift.volunteer1Name === ''">{{monShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.secondShift.volunteer2Name !== ''">{{monShifts.secondShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.secondShift.volunteer2Name === ''">{{monShifts.secondShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.secondShift.volunteer1Name !== ''">{{sunShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.secondShift.volunteer1Name === ''">{{sunShifts.secondShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.secondShift.volunteer2Name !== ''">{{sunShifts.secondShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.secondShift.volunteer2Name === ''">{{sunShifts.secondShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">08:30 - 11:00</div>
								</div>
								<div class = "cenCakeHr"></div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.thirdShift.volunteer1Name !== ''">{{thuShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.thirdShift.volunteer1Name === ''">{{thuShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.thirdShift.volunteer2Name !== ''">{{thuShifts.thirdShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.thirdShift.volunteer2Name === ''">{{thuShifts.thirdShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.thirdShift.volunteer1Name !== ''">{{wedShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.thirdShift.volunteer1Name === ''">{{wedShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.thirdShift.volunteer2Name !== ''">{{wedShifts.thirdShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.thirdShift.volunteer2Name === ''">{{wedShifts.thirdShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.thirdShift.volunteer1Name !== ''">{{tueShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.thirdShift.volunteer1Name === ''">{{tueShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.thirdShift.volunteer2Name !== ''">{{tueShifts.thirdShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.thirdShift.volunteer2Name === ''">{{tueShifts.thirdShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.thirdShift.volunteer1Name !== ''">{{monShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.thirdShift.volunteer1Name === ''">{{monShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.thirdShift.volunteer2Name !== ''">{{monShifts.thirdShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.thirdShift.volunteer2Name === ''">{{monShifts.thirdShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.thirdShift.volunteer1Name !== ''">{{sunShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.thirdShift.volunteer1Name === ''">{{sunShifts.thirdShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.thirdShift.volunteer2Name !== ''">{{sunShifts.thirdShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.thirdShift.volunteer2Name === ''">{{sunShifts.thirdShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">11:00 - 13:30</div>
								</div>
								<div class = "cenCakeHr"></div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.fourthShift.volunteer1Name !== ''">{{thuShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.fourthShift.volunteer1Name === ''">{{thuShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.fourthShift.volunteer2Name !== ''">{{thuShifts.fourthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.fourthShift.volunteer2Name === ''">{{thuShifts.fourthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.fourthShift.volunteer1Name !== ''">{{wedShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.fourthShift.volunteer1Name === ''">{{wedShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.fourthShift.volunteer2Name !== ''">{{wedShifts.fourthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.fourthShift.volunteer2Name === ''">{{wedShifts.fourthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.fourthShift.volunteer1Name !== ''">{{tueShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.fourthShift.volunteer1Name === ''">{{tueShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.fourthShift.volunteer2Name !== ''">{{tueShifts.fourthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.fourthShift.volunteer2Name === ''">{{tueShifts.fourthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.fourthShift.volunteer1Name !== ''">{{monShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.fourthShift.volunteer1Name === ''">{{monShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.fourthShift.volunteer2Name !== ''">{{monShifts.fourthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.fourthShift.volunteer2Name === ''">{{monShifts.fourthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.fourthShift.volunteer1Name !== ''">{{sunShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.fourthShift.volunteer1Name === ''">{{sunShifts.fourthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.fourthShift.volunteer2Name !== ''">{{sunShifts.fourthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.fourthShift.volunteer2Name === ''">{{sunShifts.fourthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">13:30 - 16:00</div>
								</div>
								<div class = "cenCakeHr"></div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.fifthShift.volunteer1Name !== ''">{{thuShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.fifthShift.volunteer1Name === ''">{{thuShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.fifthShift.volunteer2Name !== ''">{{thuShifts.fifthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.fifthShift.volunteer2Name === ''">{{thuShifts.fifthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.fifthShift.volunteer1Name !== ''">{{wedShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.fifthShift.volunteer1Name === ''">{{wedShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.fifthShift.volunteer2Name !== ''">{{wedShifts.fifthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.fifthShift.volunteer2Name === ''">{{wedShifts.fifthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.fifthShift.volunteer1Name !== ''">{{tueShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.fifthShift.volunteer1Name === ''">{{tueShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.fifthShift.volunteer2Name !== ''">{{tueShifts.fifthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.fifthShift.volunteer2Name === ''">{{tueShifts.fifthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.fifthShift.volunteer1Name !== ''">{{monShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.fifthShift.volunteer1Name === ''">{{monShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.fifthShift.volunteer2Name !== ''">{{monShifts.fifthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.fifthShift.volunteer2Name === ''">{{monShifts.fifthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.fifthShift.volunteer1Name !== ''">{{sunShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.fifthShift.volunteer1Name === ''">{{sunShifts.fifthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.fifthShift.volunteer2Name !== ''">{{sunShifts.fifthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.fifthShift.volunteer2Name === ''">{{sunShifts.fifthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">16:00 - 18:30</div>
								</div>
								<div class = "cenCakeHr"></div>
								
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "thuShifts.sixthShift.volunteer1Name !== ''">{{thuShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.sixthShift.volunteer1Name === ''">{{thuShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "thuShifts.sixthShift.volunteer2Name !== ''">{{thuShifts.sixthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "thuShifts.sixthShift.volunteer2Name === ''">{{thuShifts.sixthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "wedShifts.sixthShift.volunteer1Name !== ''">{{wedShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.sixthShift.volunteer1Name === ''">{{wedShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "wedShifts.sixthShift.volunteer2Name !== ''">{{wedShifts.sixthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "wedShifts.sixthShift.volunteer2Name === ''">{{wedShifts.sixthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "tueShifts.sixthShift.volunteer1Name !== ''">{{tueShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.sixthShift.volunteer1Name === ''">{{tueShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "tueShifts.sixthShift.volunteer2Name !== ''">{{tueShifts.sixthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "tueShifts.sixthShift.volunteer2Name === ''">{{tueShifts.sixthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "monShifts.sixthShift.volunteer1Name !== ''">{{monShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.sixthShift.volunteer1Name === ''">{{monShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "monShifts.sixthShift.volunteer2Name !== ''">{{monShifts.sixthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "monShifts.sixthShift.volunteer2Name === ''">{{monShifts.sixthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success" ng-if = "sunShifts.sixthShift.volunteer1Name !== ''">{{sunShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.sixthShift.volunteer1Name === ''">{{sunShifts.sixthShift.volunteer1Name}}</div>
									<div class="shift shift-success" ng-if = "sunShifts.sixthShift.volunteer2Name !== ''">{{sunShifts.sixthShift.volunteer2Name}}</div>
									<div class="shift shift-danger" ng-if = "sunShifts.sixthShift.volunteer2Name === ''">{{sunShifts.sixthShift.volunteer2Name}}</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">18:30 - 21:00</div>
								</div>
							</div>
						</section>
						<section id="section-linemove-2">
							<div class = "requestsDiv">
								<form name="requestForm" id="shiftRequestForm" ng-submit="submitForm()">
									<ul class="formRequest">
										<h2>בקשת משמרת</h2>
										<li id='data1'>
											<label id="lblShiftDate">תאריך משמרת<span class="required">*</span></label>
											<input id="shiftDate" name="shiftDate" class="shiftDate" type="date" min="2016-01-01" ng-required="required.shiftDate" ng-model="shiftRequest.shiftDate"/>
										</li>

										<li id='data2'>
											<label id="lblShiftTime">שעת המשמרת</label>
											<select name = "shiftTime" class="shiftTime" id="shiftTime" ng-model="shiftRequest.shiftTime">
												<option value = "08:00-10:00"> 08:00-10:00 </option>
												<option value = "10:00-12:00"> 10:00-12:00 </option>
												<option value = "12:00-14:00"> 12:00-14:00 </option>
												<option value = "14:00-16:00"> 14:00-16:00 </option>
												<option value = "16:00-18:00"> 16:00-18:00 </option>
												<option value = "18:00-20:00"> 18:00-20:00 </option>
											</select>
										</li>
										
										<li id='data3'>
											<label>הערות</label>
											<textarea type="text" name="Comments" class="Comments" id="Comments" maxlength="200" placeholder="פרטים נוספים " ng-model="shiftRequest.comments"></textarea>
										</li>
										
										<li id='data4'>
											<label>טלפון<span class="required">*</span></label>
											<input type="text" name="phoneNumber" class="phoneNumber" id="phoneNumber" ng-required="required.phoneNumber" placeholder="עדיף נייד" ng-model="shiftRequest.applicantPhoneNumber"></input>
										</li>
										
										</p>
										</br>

										<div id = "cmd" class="addRegister-container">
											<button type="submit" id="addRequest">שלח בקשה</button>
										</div>
									</ul>
								</form>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
			<script src="../js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call(document.querySelectorAll('.tabs')).forEach(function(el){
						new CBPFWTabs(el);
					});
				})();
			</script>
		</div>
	</div>
</div>