<div class="row">
	<div class="box">
		<hr>
		<h2 class="intro-text text-center">פינת
			<strong>סידור התנדבות</strong>
		</h2>
		<hr>
		
		<div class="row">
			<section>
				<div class="tabs tabs-style-linemove">
					<nav>
						<ul>
							<li><a id = "mainTab" href="#section-linemove-1"><span>הצגת לוח משמרות</span></a></li>
							<li><a href="#section-linemove-2"><span>הגשת בקשה למשמרת</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linemove-1">
							<div class = "arrangementDiv">
								<div class="col-md-4">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ימים<br>שעות</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">08:00 - 10:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">10:00 - 12:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">12:00 - 14:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">14:00 - 16:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">16:00 - 18:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">18:00 - 20:00</div>
								</div>
							</div>
						</section>
						<section id="section-linemove-2">
							<div class = "requestsDiv">
								<form name="requestForm" id="shiftRequestForm" ng-submit="submitForm()">
									<ul class="formRequest">
										<h2>בקשת משמרת</h2>
										<li id='data1'>
											<label id="lblShiftDate">תאריך משמרת<span class="required">*</span></label>
											<input id="shiftDate" name="shiftDate" class="shiftDate" type="date" min="2016-01-01" ng-required="required.shiftDate" ng-model="shiftRequest.shiftDate"/>
										</li>

										<li id='data2'>
											<label id="lblShiftTime">שעת המשמרת</label>
											<select name = "shiftTime" class="shiftTime" id="shiftTime" ng-model="shiftRequest.shiftTime">
												<option value = "08:00-10:00"> 08:00-10:00 </option>
												<option value = "10:00-12:00"> 10:00-12:00 </option>
												<option value = "12:00-14:00"> 12:00-14:00 </option>
												<option value = "14:00-16:00"> 14:00-16:00 </option>
												<option value = "16:00-18:00"> 16:00-18:00 </option>
												<option value = "18:00-20:00"> 18:00-20:00 </option>
											</select>
										</li>
										
										<li id='data3'>
											<label>הערות</label>
											<textarea type="text" name="Comments" class="Comments" id="Comments" maxlength="200" placeholder="פרטים נוספים " ng-model="shiftRequest.comments"></textarea>
										</li>
										
										<li id='data4'>
											<label>טלפון<span class="required">*</span></label>
											<input type="text" name="phoneNumber" class="phoneNumber" id="phoneNumber" ng-required="required.phoneNumber" placeholder="עדיף נייד" ng-model="shiftRequest.applicantPhoneNumber"></input>
										</li>
										
										</p>
										</br>

										<div id = "cmd" class="addRegister-container">
											<button type="submit" id="addRequest">שלח בקשה</button>
										</div>
									</ul>
								</form>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
			<script src="../js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call(document.querySelectorAll('.tabs')).forEach(function(el){
						new CBPFWTabs(el);
					});
				})();
			</script>
		</div>
	</div>
</div>