@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

#title{
	color: #811818;
}

.product, .quantity, .name, .phone, .comments, .groupType, .category{
	box-shadow: 0 1px 1px #f9ebeb inset, 0 0 0.5px #c73838;
	outline: 0 none;
}

.product:focus, .quantity:focus, .name:focus, .phone:focus, .comments:focus, .groupType:focus, .category:focus{
	border-color: rgba(229, 103, 23, 0.8);
	box-shadow: 0 1px 1px #f9ebeb inset, 0 0 2px #c73838;
	outline: 0 none;
}

.edit, .delete, .details, .addStock, .delete:focus, .edit:focus{
	outline: 0 none;
}

.purchased{
	outline: 0 none;
	width: 15px;
	height: 15px; 
	top:2px;
}

/*Form*/
.inline{
	display:inline-block;
}

#container{
	margin: auto;
	width: 95%;
	border-collapse: collapse;
	border: 1px solid;
	border-radius: 5px;
	border-color: #BD3636;	
	background-color: #DDD;
}

.formStock{
	direction: rtl;
	text-align: center;
	margin-right: 5px;
}

.formStock label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
	color: #BD3636;
}

.formStock select{
	color: #595959;
	padding: 5px;
}

.formStock input{
	padding: 6px;
}

.formStock #GroupType, 
.formStock #Category, 
.formStock #Product, 
.formStock #Quantity, 
.formStock #Comments, 
.formStock #Name, 
.formStock #Phone, 
.formStock #cmd{
	display: block;
	border: none;
	margin: none;
	padding: none;
}

.formStock #cmd{
	display: inline;
}

.addStock {
	background-color: #d87474;
	color: white;
	border: 2px solid #c73838;
	border-radius: 5px;
	width: 70px;
	height: 65px;
	text-align: center;
	text-decoration: none;
	font-size: 45px;
	margin: 4px 12px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 5px 9px 5px #a6a6a6;
	-moz-box-shadow: 5px 9px 5px #a6a6a6;
	box-shadow: 5px 5px 5px #a6a6a6;
}

.addStock:hover {
	background-color: #d26060;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 5px 9px 5px #999999;
	-moz-box-shadow: 5px 9px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
}

.addStock:active {
	background-color: white; 
	color: #e39c9c;	
	border: 2px solid #e39c9c;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 3px 6px 3px #999999;
	-moz-box-shadow: 3px 6px 3px #999999;
	box-shadow: 3px 3px 3px #999999;
	position:relative;
	top:3px;
}

.updateStock {
	vertical-align: top;
	background-color: #d87474;
	color: white;
	border: 2px solid #c73838;
	border-radius: 5px;
	width: 70px;
	height: 65px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin: 4px 12px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 5px 9px 5px #a6a6a6;
	-moz-box-shadow: 5px 9px 5px #a6a6a6;
	box-shadow: 5px 5px 5px #a6a6a6;
}

.updateStock:hover {
	background-color: #d26060;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 5px 9px 5px #999999;
	-moz-box-shadow: 5px 9px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
}

.updateStock:active {
	background-color: white; 
	color: #e39c9c;	
	border: 2px solid #e39c9c;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 3px 6px 3px #999999;
	-moz-box-shadow: 3px 6px 3px #999999;
	box-shadow: 3px 3px 3px #999999;
	position:relative;
	top:3px;
}

.updateStock:disabled {
	background-color: #e39c9c;
	color: white;
	border: 2px solid #c73838;
	border-radius: 5px;
	width: 70px;
	height: 65px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin: 4px 12px;
	cursor: default;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 5px 9px 5px #a6a6a6;
	-moz-box-shadow: 5px 9px 5px #a6a6a6;
	box-shadow: 5px 5px 5px #a6a6a6;
}

#groupType{
	width:120px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white; 
}

#category{
	width:120px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

#product{
	width:100px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

#quantity{
	width:70px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

#name{
	width:100px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

#phone{
	width:100px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

#comments{
	width:160px;
	border: 1px solid;
	border-radius: 5px;
	border-color: white;
}

/*Tables*/
.fixed_headers  td,
.fixed_headers  th,
.fixed_headers  tr{
	table-layout: fixed;
	word-break: break-all;
	word-wrap:break-word;
}

.fixed_headers {
	margin: auto;
	width: 95%;
	border-collapse: collapse;
	word-break: break-all;
	word-wrap:break-word;
}

.fixed_headers th,
.fixed_headers td {
	padding: 5px;
	text-align: center;
}

.fixed_headers td {
	color: #595959;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
	width: 80px;
}

.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
	width:150px;
}

.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
	width: 260px;
}

.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
	width: 80px;
}

.fixed_headers td:nth-child(5),
.fixed_headers th:nth-child(5) {
	width: 180px;
}

.fixed_headers td:nth-child(6),
.fixed_headers th:nth-child(6) {
	width: 130px;
}

.fixed_headers td:nth-child(7),
.fixed_headers th:nth-child(7) {
	width: 20px;
}

.fixed_headers thead {
	background-color: #BD3636;
	color: #FDFDFD;
}

.fixed_headers thead tr {
	display: block;
	position: relative;
}

.fixed_headers tbody {
	display: block;
	overflow: auto;
	width: 100%;
	height: 150px;
}

.fixed_headers tbody tr:hover {
	background-color: #DDD;
}

.old_ie_wrapper {
	height: 300px;
	width: 750px;
	overflow-x: hidden;
	overflow-y: auto;
}

.old_ie_wrapper tbody {
  height: auto;
}

thead.caption ,
.caption{
	font-family: "Helvetica Neue", Helvetica, Arial; 
	margin: auto;
	padding-top: 5px;
	width: 90%;
	height: 25px;
	color: #e26969;
	font-size: 130%;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-align: right;
}

.details {
	border-radius: 2px;
	width: 100px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 3px 6px 3px #cccccc;
	-moz-box-shadow: 3px 6px 3px #cccccc;
	box-shadow: 3px 3px 3px #cccccc;
}

.details:hover {
	background-color: white; 
	color: #e77e7e;
	-webkit-box-shadow: 2px 3px 2px #b3b3b3;
	-moz-box-shadow: 2px 3px 2px #b3b3b3;
	box-shadow: 2px 3px 2px #b3b3b3;
}

.details:active {
	background-color: white; 
	color: #e77e7e;	
	border: 1px solid #e39c9c;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px ;
	box-shadow: 0px 0px 0px ;
	position:relative;
	top:3px;
}

.edit{
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 2px 4px 2px #cccccc;
	-moz-box-shadow: 2px 4px 2px #cccccc;
	box-shadow: 2px 4px 2px #cccccc;
}

.edit:hover {
	background-color: white; 
	color: #e77e7e;
	-webkit-box-shadow: 2px 3px 2px #999999;
	-moz-box-shadow: 2px 3px 2px #999999;
	box-shadow: 2px 3px 2px #999999;
}

.edit:active {
	background-color: white; 
	color: #e77e7e;	
	border: 1px solid #e39c9c;
	-webkit-box-shadow: 0px 0px 0px ;
	-moz-box-shadow: 0px 0px 0px ;
	box-shadow: 0px 0px 0px ;
	position:relative;
	top:3px;
}

.edit:after {
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
}

.delete{
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 2px 4px 2px #cccccc;
	-moz-box-shadow: 2px 4px 2px #cccccc;
	box-shadow: 2px 4px 2px #cccccc;
}

.delete:hover {
	background-color: white; 
	color: #e77e7e;
	-webkit-box-shadow: 2px 3px 2px #999999;
	-moz-box-shadow: 2px 3px 2px #999999;
	box-shadow: 2px 3px 2px #999999;
}

.delete:active {
	background-color: white; 
	color: #e77e7e;	
	border: 1px solid #e39c9c;
	-webkit-box-shadow: 0px 0px 0px ;
	-moz-box-shadow: 0px 0px 0px ;
	box-shadow: 0px 0px 0px ;
	position:relative;
	top:3px;
}

.delete:after {
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
}

.schecked td:before {
	content: " ";
	position: absolute;
	top: 50%;
	border-bottom: 1px solid #111;
	width: 100%;
}

table { border-collapse: collapse; empty-cells: show; }

td { position: relative; }
