.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	width: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

#addMessageDiv, #addGuestPostDiv {
	background: rgba(255,255,255,0.95);
	display: none;
	position: absolute;
	top: 40%;
	left: 25%;
	width: 50%;
	height: 555px;
	/*padding: 16px;*/
	z-index:1002;
	box-shadow:0 0 10px 0 #000;
	direction: rtl;
}

#addMessageSpan, #addGuestPostSpan {
	padding-right: 100px;
	display: block;
}

#cmd {
	text-align: center;
}

#addMessage, #addGuestPost{
	background: #4f93ce;
	border: 1px solid currentColor;
	font-size: 1.1rem;
	/*color: #4f93ce;*/
	color: #fff;
	padding: 0.75rem 3rem;
	cursor: pointer;
	-webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
	transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#addMessTitle, #addGuestPostTitle{
	padding-top: -60px;
	padding-right: -100px;
	text-align: center;
}

#close{
	position:absolute;
	background:black;
	color:white;
	right:-20px;
	top:-20px;
	border-radius:50%;
	width:40px;
	height:40px;
	padding-top: 6px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	font-family:'Arial Black', Arial, sans-serif;
	cursor:pointer;
	box-shadow:0 0 10px 0 #000;
	z-index:1003;
}

#addGuestPostDiv h5{
	padding-right: 90px;
}

#addMessageDiv label, #addGuestPostDiv  label{
	margin:0 0 3px 10px;
	padding:0px;
	display:inline-block;
	font-weight: bold;
}

#addMessageDiv #lblContent, #addGuestPostDiv #lblContent{
	vertical-align: top;
}

#addMessageDiv input[type=text], #addGuestPostDiv input[type=text]
#addMessageDiv input[type=date], #addGuestPostDiv input[type=date]
#addMessageDiv textarea, #addGuestPostDiv textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	border-radius: 0px;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;  
	direction: rtl;
}

#addMessageDiv textarea, #addGuestPostDiv textarea{
	resize: none;
}

#addMessageDiv input[type=text]:focus, #addGuestPostDiv input[type=text]:focus, 
#addMessageDiv input[type=date]:focus, #addGuestPostDiv input[type=date]:focus, 
#addMessageDiv textarea:focus, #addGuestPostDiv textarea:focus{
	font: 15px 'Open Sans Hebrew', sans-serif;
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
	color: steelblue;
}
#addMessageDiv textarea:focus, #addGuestPostDiv  textarea:focus{
	font-style: italic;
}

#topic, #publishName{
	width: 40%;
	height: 38px;
	font: 14px 'Open Sans Hebrew', sans-serif;
}

#content{
	width: 70%;
	height: 100px;
	font: 14px 'Open Sans Hebrew', sans-serif;
	font-style: italic;
}

.required{
	color:red;
	font-size: 12px;
	position: relative; 
	bottom: 3px;
}

/*-------- add message button --------*/
.button_add {
	outline: 0 none;
	background-color: #d87474;
	color: white;
	border: 2px solid #c73838;
	border-radius: 5px;
	width: 48px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	font-size: 35px;
	margin: 4px 12px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 5px 9px 5px #a6a6a6;
	-moz-box-shadow: 5px 9px 5px #a6a6a6;
	box-shadow: 5px 5px 5px #a6a6a6;
}

.button_add:hover {
	background-color: #d26060;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 5px 9px 5px #999999;
	-moz-box-shadow: 5px 9px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
}

.button_add:active {
	background-color: white; 
	color: #e39c9c;	
	border: 2px solid #e39c9c;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 3px 6px 3px #999999;
	-moz-box-shadow: 3px 6px 3px #999999;
	box-shadow: 3px 3px 3px #999999;
	position:relative;
	top:3px;
}

#addButtonDiv{
	text-align: center;
}
/*-------- the appearance of every single message/post --------*/
.message{
	direction: rtl;
	display: block;
}

.message h3{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.postTitle {
	direction: rtl;
	font: 23px 'Open Sans Hebrew', sans-serif;
	text-align: center;
}
 
.postDateAndName {
	direction: rtl;
	font-style: italic;
	text-align: left;
	padding-left: 25px;
}

.guestBookPage h6 {
	margin-bottom: 0px;
	margin-top: 8px;
}

.message h5{
	font-style: italic;
	color: #A3A3A3;
	width: 30%;
	padding-left: 3%;
	text-align: left;
	float: left;
}

.message h6{
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-style: italic;
	color: #BEBEBE;
	display: block;
}

.messageContent{
	font: 16px 'Open Sans Hebrew', sans-serif;
}

.postContent {
	font: 18px 'Open Sans Hebrew', sans-serif;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	direction: rtl;
}

.lblPost {
	font: 16px 'Open Sans Hebrew', sans-serif;
}

.lblComment {
	font: 14px 'Open Sans Hebrew', sans-serif;
	font-style: italic;
} 

#postComment {
	padding-top: 17px;
}

.optional {
	color: green;
	font: 15px 'Open Sans Hebrew', sans-serif;
	font-weight: bold;
	font-style: italic;
}

.delete{
	display: inline;
	float: left;
}

.message hr{
	width: 90%;
	padding: 0px;
	margin-bottom: 10px;
	max-width: 1140px;
	border-color: rgb(229, 229, 229);
	display: block;
}