@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

.cubes{
	color: #333;
	text-align:center;
	padding-top: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.scrollit {
    overflow:scroll;
    height:295px;
}

#volunteer {
	font-family: 'Open Sans Hebrew', sans-serif;
	border: 1px solid #B24033;
	border-collapse: collapse;
	width: 100%;
}

#volunteer td, #volunteer th {
	border-style: 18px  outset  #d2e3ed;
	text-align: center;
	padding: 8px;
	table-layout: fixed;
    word-break: break-all;
    word-wrap:break-word;
}

#volunteer td: {
	color: white;
}

#volunteer tr:hover {
	font-weight: bold;
	color: #A52A2A;
}

#volunteer tr:nth-child(even){
	background-color: #f2f2f2;
}

#volunteer tr:nth-child(odd){
	background-color: white;
}


#volunteer th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #BD3636;
	color: #F0D9AD;
}

#volunteer tr{
	color: #333335;
}

#inactive{
	color: #A8A8A8;
}

#active{
	color: #339933;
}

/*VolunteersDatabase*/
.col1{width: 10%;}
.col2{width: 8.5%;}
.col3{width: 9%;}
.col4{width: 10%;}
.col5{width: 10.5%;}
.col6{width: 10.5%;direction: rtl;}
.col7{width: 10%;}
.col8{width: 7%;}
.col9{width: 7%;}
.col10{width: 18%;}

#head1{text-indent: -4%; width: 11%}
#head2{width: 8.5%}
#head3{text-indent: 0.2%; width: 9.5%}
#head4{text-indent: 0.2%; width: 9%}
#head5{width: 10%}
#head6{width: 10%}
#head7{width: 9.5%}
#head8{width: 7%}
#head9{width: 6.5%}
#head10{text-indent: 1%; width: 18.5%}

/*BakersDatabase*/
.col11{width: 14%;}
.col12{width: 14%;}
.col13{width: 11%;}
.col14{width: 17%;direction: rtl;}
.col15{width: 11%;}
.col16{width: 11%;}
.col17{width: 22%;}

#head11{text-indent: -1.5%; width: 16%;}
#head12{width: 13%;}
#head13{width: 11%;}
#head14{width: 16.5%;}
#head15{width: 10.5%;}
#head16{width: 11%}
#head17{text-indent: 1%; width: 22%;}

/*GuestsDatabase*/
.col21{width: 11%;}
.col22{width: 11%;}
.col23{width: 11%;}
.col24{width: 11%;}
.col25{width: 13%;direction: rtl;}
.col26{width: 11%;}
.col27{width: 13%;}
.col28{width: 19%;}

#head21{text-indent: -1.5%; width: 13%;}
#head22{width: 10.5%;}
#head23{width: 10.5%;}
#head24{width: 11%;}
#head25{width: 12%;}
#head26{width: 11%}
#head27{width: 12.5%;}
#head28{text-indent: 1%; width: 19.5%;}

/*-------------------------for the logout-------------------------*/
.connection {
	font-size: 15px;
	width: 960px;
	height: 20px;
	margin-top: 30px;
	padding-top: 20px;
	text-align: left; 
	background: transparent;
	color: white;
}

.connection a, .connection a:hover { 
	color: white;
	text-decoration: none;
	padding-bottom: 20px;
}

.connection a:hover { 
	text-decoration: underline;
}