@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

.cubes{
	color: #333;
	text-align:center;
	padding-top: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.scrollit {
	overflow:scroll;
	height:550px;
}

#volunteer {
	font-family: 'Open Sans Hebrew', sans-serif;
	border: 1px solid #B24033;
	border-collapse: collapse;
	width: 100%;
}

#volunteer td, #volunteer th {
	/*border: 1px solid black;*/
	border-style: 18px  outset  #d2e3ed;
	text-align: center;
	padding: 8px;
	table-layout: fixed;
}

#volunteer td: {
	color: white;
}
#volunteer tr {
	font-size: 95%;
	color: #333335;
}
#volunteer tr:hover {

	font-size: 89%;
	font-weight: bold;
	color: #A52A2A;
}

#volunteer tr:nth-child(even){
	background-color: #f2f2f2;
}

#volunteer tr:nth-child(odd){
	background-color: white;
}


#volunteer th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #BD3636;
	color: #F0D9AD;
}

#inactive{
	color: #A8A8A8;
}

#active{
	color: #339933;
}
.headDetails{
	width: 8%;
}
.colDetails {
	outline: 0 none;
	border-radius: 2px;
	width: 60px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f9ebeb;
	color: #e77e7e;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 3px 6px 3px #cccccc;
	-moz-box-shadow: 3px 6px 3px #cccccc;
	box-shadow: 3px 3px 3px #cccccc;
}

.colDetails:hover {
	background-color: white; 
	color: #e77e7e;
	-webkit-box-shadow: 2px 3px 2px #b3b3b3;
	-moz-box-shadow: 2px 3px 2px #b3b3b3;
	box-shadow: 2px 3px 2px #b3b3b3;
}

.colDetails:active {
	background-color: white; 
	color: #e77e7e;	
	border: 1px solid #e39c9c;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px ;
	box-shadow: 0px 0px 0px ;
	position:relative;
	top:3px;
}


/*ManagerDatabase + VolunteersDatabase + BakeryDatabase*/
#head1{
	text-indent: -1%; 
	width: 12%
}
#head2{
	text-indent: 0%; 
	width: 9.8%
}
#head3{
	text-indent: 0%; 
	width: 10.9%
}
#head4{
	text-indent: 0%; 
	width: 9.1%	
}
#head5{
	text-indent: 0%; 
	width: 11.7%
}
#head6{
	text-indent: 0%; 
	width: 12%
}
#head7{
	text-indent: 0%; 
	width: 5.5%
}
#head8{	
	text-indent: 0.3%; 
	width: 21%
}

.col1{
	width: 11%; 
	word-break: break-all;
	word-wrap:break-word;
}
.col2{
	width: 10%;
	word-break: break-all;
	word-wrap:break-word;
}
.col3{
	width: 11%;
	word-break: break-all;
	word-wrap:break-word;
}
.col4{
	width: 8%;
}
.col5{
	width: 12%;
	word-break: break-all;
	word-wrap:break-word;
}
.col6{
	width: 13%;
	direction: rtl;
}
.col7{
	width: 5%;
}
.col8{
	width: 22%;
	word-break: break-all;
	word-wrap:break-word;
}

/*BakersDatabase*/
#head11{
	text-indent: -1.5%; 
	width: 12.9%;
}
#head12{
	width: 11.8%;
}
#head13{
	width: 10.7%;
}
#head14{
	width: 11.6%;
}
#head15{
	width: 12.7%;
}
#head16{
	width: 6.9%
}
#head17{
	text-indent: 1%; 
	width: 25.4%;
}

.col11{
	width: 12%;
	word-break: break-all;
	word-wrap:break-word;
}
.col12{
	width: 12%;
	word-break: break-all;
	word-wrap:break-word;
}
.col13{
	width: 11%;
}
.col14{
	width: 12%;
	word-break: break-all;
	word-wrap:break-word;
}
.col15{
	width: 13%;
	direction: rtl;
}
.col16{
	width: 7%;
}
.col17{
	width: 26%;
	word-break: break-all;
	word-wrap:break-word;
}

/*GuestsDatabase*/
#head21{
	text-indent: -1.5%; 
	width: 12%;
}
#head22{
	width: 10.8%;
}
#head23{
	width: 10.7%;
}
#head24{
	width: 10.9%;
}
#head25{
	width: 12.4%;
}
#head26{
	width: 13.5%
}

#head27{
	text-indent: 1%; 
	width: 21.7%;
}

.col21{
	width: 11%;
	word-break: break-all;
	word-wrap:break-word;
}
.col22{
	width: 11%;
	word-break: break-all;
	word-wrap:break-word;
}
.col23{
	width: 11%;
	word-break: break-all;
	word-wrap:break-word;
}
.col24{
	width: 11%;
}
.col25{
	width: 13%;
	word-break: break-all;
	word-wrap:break-word;
}
.col26{
	width: 14%;
	direction: rtl;
}
.col27{
	width: 22.5%;
	word-break: break-all;
	word-wrap:break-word;
}

/*-------------------------for the logout-------------------------*/
.connection {
	font-size: 15px;
	width: 960px;
	height: 20px;
	margin-top: 30px;
	padding-top: 20px;
	text-align: left; 
	background: transparent;
	color: white;
}

.connection a, .connection a:hover { 
	color: white;
	text-decoration: none;
	padding-bottom: 20px;
}

.connection a:hover { 
	text-decoration: underline;
}

/*-------------------------for the personal ditails-------------------------*/
.personalDetails {
	margin-top: 23px;
}

#personalDetailsTitle {
	font-size: 15px;
	width: 960px;
	height: 20px;
	margin-top: 10px;
	padding-top: -20px;
	text-align: left; 
	background: transparent;
	color: white;
}

#personalDetailsTitle a, #personalDetailsTitle a:hover { 
	color: white;
	text-decoration: none;
	padding-bottom: 20px;
}

#personalDetailsTitle a:hover { 
	text-decoration: underline;
}

/*-------------------------for scrollbar----------------------------*/
::-webkit-scrollbar {
    width: 3px;
	height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background: #eb9494;
}

/*---------------------volunteer arrangement------------------------*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/***********Default tab style***********/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
		url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}

.tabs {
	direction: rtl;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/***********Nav***********/
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/***********Content***********/
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

/***********Moving Line***********/
.tabs-style-linemove nav {
	background: #fff;
	z-index: 1;
}

.tabs-style-linemove nav li:last-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #2CC185;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Move the line */
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(300%,0,0);
	transform: translate3d(300%,0,0);
}

.fourTabs nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-400%,0,0);
	transform: translate3d(300%,0,0);
}

.fourTabs nav li:nth-child(2).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-300%,0,0);
	transform: translate3d(200%,0,0);
}

.fourTabs nav li:nth-child(3).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-200%,0,0);
	transform: translate3d(100%,0,0);
}

.fourTabs nav li:nth-child(4).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #74777b;
	text-decoration: none;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav li.tab-current a {
	color: #2CC185;
	text-decoration: none;
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
	font-weight: 700;
}

/***********Triangle and line***********/
.tabs-style-linetriangle nav a {
	overflow: visible;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-linetriangle nav a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

.tabs-style-linetriangle nav li.tab-current a:after, 
.tabs-style-linetriangle nav li.tab-current a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle nav li.tab-current a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #e7ecea;
}

.tabs-style-linetriangle nav li.tab-current a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 58em) {
	.tabs-style-linetriangle nav {
		font-size: 0.6em;
	}
}

.description{
	text-align:center;
	color:#ecf0f1;
	text-shadow:0 0.1em 0.2em #008c8d;
}

/***********Scroll body***********/
::-webkit-scrollbar{
	width:0.2em;
}

::-webkit-scrollbar-track{
	background-color:#bdc3c7;
}

::-webkit-scrollbar-thumb{
	background-color:#BD3636;
}

/***********table***********/
.box-table table{
	border-collapse:collapse;
	text-align:right;
	width:100%;
	margin:0;
	padding:0;
	background:#BD3636;
	animation: responsive 5s infinite ease-in-out;
}

.box-table{
	font:normal 12px/150% Arial, Helvetica, sans-serif;
	overflow:hidden;
	margin:0 auto;
	display:block;
	width:95%;
	padding:2.5%;
}

.box-table table thead th{
	background-color:#BD3636;
	color:#F0D9AD;
	text-align:center;
	padding: 0.75em;
	font-weight: bold;
	font-size: 1.2em;
	height: 1.5em;
	vertical-align: top;
	border-left:0.25em double #f2f2f2;
}

.box-table table tbody td,
.box-table table tbody tr{
	font-size:1em;
	border:none;
	padding:1em;
}

.box-table table tbody tr:nth-child(odd){
	background:white;
}

.box-table table tbody tr:nth-child(even){
	background:#f2f2f2;
}

.box-table table tbody tr a{
	text-decoration:none;
	color:#e67e22;
}

.box-table table tbody tr a:hover{
	color:#d35400;
}

.box-table .user-photo{
	background:#F0D9AD;
}

.box-table .user-tumb{
	width:6em;
	height:6em;
	padding:0;
	display:table-cell;
	text-align:center;
	margin:0 auto;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}

/***********Responsive table***********/
@media only screen and (max-width: 800px){
	.box-table table{
		width:100%;
		border-collapse:collapse;
		border-spacing:0;
	}
	
	.box-table th,
	.box-table td{
		margin:0;
		vertical-align:top;
	}
	
	.box-table th{
		direction: rtl;
	}
	
	.box-table table{
		display:block;
		position:relative;
		width:100%;
	}
	
	.box-table thead{
		display:block;
		float:left;
	}
	
	.box-table tbody{
		display:block;
		width:auto;
		position:relative;
		overflow-x:auto;
		white-space:nowrap;
	}
	
	.box-table thead tr{
		display:block;
	}
		
	.box-table th{
		display:block;
		text-align:right;
	}
	
	.box-table tbody tr{
		display:inline-block;
		vertical-align:top;
	}
	
	.box-table td{
		display:block;
		min-height:1.25em;
		direction: rtl;
	}
	
	.box-table th{
		border-bottom:0;
		border-left:0;
	}
	
	.box-table td{
		border-left:0;
		border-right:0;
		border-bottom:0;
	}
}

/***********Error***********/
.error_table {
	display: block;
	background: #E05E5E;
	color: #D1D1D1;
	text-align: center;
	font-size: 3em;
	width: 90%;
	padding: 5%;
}

/***********Loader***********/
.loading_table{
	background:#d35400;
	color:#ecf0f1;
	text-align: center;
	font-size: 1em;
	width: 0;
	display: block;
	overflow: hidden;
	height: 1em;
	padding:0.5em;
	animation: table_loader 10s infinite ease;
}

@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}

#volunteersRequestsTable{
	direction: rtl;
}

.reqCol0{
	width: 2%;
}

.reqCol1{
	width: 20%;
}

.reqCol2{
	width: 14%;
}

.reqCol3{
	width: 15%;
}

.reqCol4{
	width: 14%;
}

.reqCol5{
	width: 19%;
}

.reqCol6{
	width: 16%;
}


.arrangementDiv {
	background: rgba(255,255,255,0.7);
	padding-top: 10px;
	height: 435px;
	direction: rtl;
}

.volArrangementDiv {
	background: rgba(255,255,255,0.7);
	padding-top: 10px;
	height: 390px;
	direction: rtl;
}

.bakersArrangementDiv {
	direction: rtl;
}

.shift-head{
	right: 20%;
	width:28px;
	height:28px;
	position:relative;
}

.shift-head:after{
	content:"";
	position:absolute;
	border-top:1px solid red;
	width:90px;
	top: 45%;
	right: 0%;
	transform: rotate(155deg);
	transform-origin: 50%;
}

.shift{
	height: 50px;
	text-align: center;
	outline: none;
	border: none;
	font-size: 20px;
}

.shift-time{
	padding-top: 10%;
	direction: ltr;
}

.shift-success{
	width: 100%;
	height: 25px;
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6;
}

.shift-success hr{
	border-top-color:#c9e2b3;
}

.shift-info{
	width: 100%;
	height: 30px;
	color:#31708f;
	background-color:#d9edf7;
	border-color:#bce8f1;
}

.shift-info hr{
	border-top-color:#a6e1ec;
}

.shift-warning{
	width: 100%;
	height: 30px;
	color:#8a6d3b;
	background-color:#fcf8e3;
	border-color:#faebcc;
}

.shift-warning hr{
	border-top-color:#f7e1b5;
}

.shift-danger{
	width: 100%;
	height: 25px;
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}

.shift-danger hr{
	border-top-color:#e4b9c0;
}

.cenHr {
	width: 100%;
	height: 5px;
	display: inline-block;
}

.cenCakeHr {
	width: 100%;
	height: 5px;
	display: inline-block;
	float: right;
}

.editShift {
	border-radius: 2px;
	width: 100%;
	height: 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color:#F0CFCF;
	color: #a94442;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 3px 6px 3px #cccccc;
	-moz-box-shadow: 3px 6px 3px #cccccc;
	box-shadow: 3px 3px 3px #cccccc;
	font-weight:bold;
	outline: 0 none;
}

.editShift:hover {
	background-color: white; 
	color: #a94442;
	-webkit-box-shadow: 2px 3px 2px #b3b3b3;
	-moz-box-shadow: 2px 3px 2px #b3b3b3;
	box-shadow: 2px 3px 2px #b3b3b3;
	outline: 0 none;
}

.editShift:active {
	background-color: white; 
	color: #a94442;
	border: 1px solid #e39c9c;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px ;
	box-shadow: 0px 0px 0px ;
	position:relative;
	top:3px;
	outline: 0 none;
}

.editCake {
	width: 100%;
	height: 45px;
}

.titleVolunteers1 {
	font: 15px 'Open Sans Hebrew', sans-serif;
	
}

.titleVolunteers2 {
	font: 15px 'Open Sans Hebrew', sans-serif;
}

.deleteCake{
	width: 20px;
	padding-top: 20px;
	float: right;
	outline: none;
}

.delShiftReq{
	width: 20px;
	outline: none;
}

.col-md-4{
	position:relative;
	min-height:1px;
	padding-right:10px;
	padding-left:10px;
	float:left;
	width:16.66666666%;
}

.col-sm-6{
	width: 20%;
}

.col-sm-7{
	height: 30px;
}

.col-sm-8{
	padding-right:0;
	padding-left:0;
	width: 100%;
}

/*------------------------------------for donations---------------------------------------------------*/
.donations h4 {
	margin: 0 20px 0 0;
}

ul.bullet {
	list-style: none;
    margin: 0 0 0 0;
}

ul.bullet li {
	background: url('../img/red_arrow.png') no-repeat right top 3px;
	padding-right: 0;
	direction: rtl;
    margin: 20px 0 0 0;
    padding: 0 40px 0 0px;
}

.donations {
	direction: rtl;
}

/*-----------------------------------------for about page------------------------------------------------*/
#imageAbout {
	width: 45%;
	height: 250px;
}

.about {
	direction: rtl;
}

.button_home {
	margin-top: -20px;
	width: 60px;
	height: 60px;
	float: left;
}

.button_home:hover {
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

.button_home:active {
	margin-top: -18px;
}

/*-----------------------------------------for contactUs page------------------------------------------------*/
ul.cEmailAdress {
	list-style: none;
	margin: 0 0 0 0;
}

ul.cEmailAdress li {
	background: url('../img/mailIcon.png') no-repeat right -10px top -13px;
	margin: 20px -40px 0 0;
	padding: 0 50px 0 0;
	padding-top: 6px;
	height: 50px;
	width: 40%;
}

ul.cPhone {
	list-style: none;
	margin: 0 0 0 0;
}

ul.cPhone li {
	background: url('../img/phoneIcon.png') no-repeat right -8px top -7px;
	margin: 20px -40px 0 0;
	padding: 0 50px 0 0;
	padding-top: 6px;
	height: 50px;
	width: 40%;
}

ul.cHome {
	list-style: none;
	margin: 0 0 0 0;
}

ul.cHome li {
	background: url('../img/homeIcon.png') no-repeat right -3px top 4px;
	margin: 20px -40px 0 0;
	padding: 0 50px 0 0;
	padding-top: 6px;
	height: 65px;
	width: 40%;
}

.contactUs {
	direction: rtl;
	padding-right: 20px;
}

/*-----------------------------------------------for export to excel----------------------------------------------*/
.button_export {
	margin-top: -20px;
}

.button_export:hover {
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

.button_export:active {
	margin-top: -18px;
}

.exportCmd {
	display: inline;
}

/*-----------------------------------------------for send email to everyone----------------------------------------------*/
.button_sendEmails {
	margin-top: -20px;
	margin-left: 30%;
}

.button_sendEmails:hover {
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

.button_sendEmails:active {
	margin-top: -18px;
}

.sendEmailsCmd {
	display: inline;
}

.emailTxt {
	direction: rtl;
	padding-right: 20px;
}

/*------------------------------------------QaA-------------------------------------------------*/
.question{
	background: url('../img/Question.png') no-repeat right top -2px;
	padding-right: 0;
	direction: rtl;
	min-height: 15px;
    margin: 0 0 0 0;
    padding: 0 40px 0 0px;
}

.answer{
	background: url('../img/Answer.png') no-repeat right top -2px;
	padding-right: 0;
	direction: rtl;
	min-height: 15px;
    margin: 0 0 0 0;
    padding: 0 40px 0 0px;
}

.QaAHr {
	max-width: 90%;
	width: 90%;
	border-color: #CCCCC;
	height: 1px;
	margin-right: 5%;
	display: block;
}

.col-md-5 {
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: 18px;
}

.col-md-5 p{
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: 18px;
}

/*-----------------------------------------footer------------------------------------------------*/
.text{
	padding-top: 0px;
}

.footLinks{
	padding-top: 25px;
}

/*-----------------------------------------comments------------------------------------------------*/
.requiredExplain {
	float:right;
	direction: rtl;
	padding-right: 20px;
}

.commentsDiv{
	padding-right: 30px;
	padding-top: 30px;
	width: 100%;
	direction: rtl;
	display: inline-block;
}

.commentsMessageDiv{
	padding-right: 30px;
	width: 100%;
	direction: rtl;
	display: inline-block;
}

.comments{
	font-size: 15px;
}