<div class="row" ng-controller="databaseController">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{title}}</strong>
            </h2>
            <hr>
            
            <div class = "cubes">
                <img src = "../img/cubes.jpg"></img>
            </div>
            <br>
			
			<div id="exportable">
				<table id="volunteer">
					<thead>
						<tr>
							<th class="headDetails"></th>
							<th id="head8" class="col10"><img src = "../img/mail.jpg"></img></th>
							<th id="head7" class="col9">סטטוס</th>
							<th id="head6" class="col6">כתובת</th>
							<th id="head5" class="col5">טלפון</th>
							<th id="head4" class="col4">ת.לידה</th>
							<th id="head3" class="col3">שם משפחה</th>
							<th id="head2" class="col2">שם פרטי</th>
							<th id="head1" class="col1">.ת.ז</th>
						</tr>
					</thead>

					<table id="volunteer">
						<tr>
							<td>
								<div class="scrollit">
									<table id="volunteer">
										<tr ng-repeat="user in usersList">
											<td><button type="button" class="colDetails" ng-click="showTableDetails($index)">הערות</button></td>
											<td class="col8"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
											<td class="col7" id="active">{{user.active}}</td>
											<td class="col6">{{user.address}}</td>
											<td class="col5">{{user.phoneNumber}}</td>
											<td class="col4">{{user.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
											<td class="col3">{{user.lastName}}</td>
											<td class="col2">{{user.firstName}}</td>
											<td class="col1">{{user.id}}</td>
										</tr>
									</table>
								</div>	
							</td>		
						</tr>		
					</table>
				</table>	
			</div>
			
			<br><br>
			
			<span class = "sendEmailsCmd">			
				<a class="sendEmailsButton" type="button" ng-click="sendEmail()"><img class = "button_sendEmails" src = "../img/email.png"></img></a>
			</span>
			<span class = "exportCmd">
				<a class="exportButton" type="button" ng-click="exportData()"><img class = "button_export" src = "../img/excel.png"></img></a>
			</span>		

			<br><br>
			
			<div class="emailTxt">
				* כפתור 'שלח מייל לכולם'- שולח את המייל לרשימת מתנדבים בחדר אפייה, לא כולל משתמשים לא פעילים.
			</div>
        </div>
    </div>
</div>