<div class="row" ng-controller="databaseController">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{title}}</strong>
            </h2>
            <hr>
            
            <div class = "cubes">
                <img src = "../img/cubes.png"></img>
            </div>
            <br>
			
			<div id="exportable">
				<table id="volunteer">
					<thead>
						<tr>
							<th class="headDetails"></th>
							<th id="head27" class="col27"><img src = "../img/mail.jpg"></img></th>
							<th id="head26" class="col26">כתובת</th>
							<th id="head25" class="col25">טלפון</th>
							<th id="head24" class="col24">ת.לידה</th>
							<th id="head23" class="col23">שם משפחה</th>
							<th id="head22" class="col22">שם פרטי</th>
							<th id="head21" class="col21">קבוצה</th>
						</tr>
					</thead>

					<table id="volunteer">
						<tr>
							<td>
								<div class="scrollit">
									<table id="volunteer">
										<tr ng-repeat="user in usersList">
											<td><button type="button" class="colDetails" ng-click="showGuestDetails($index)">הערות</button></td>
											<td class="col27"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
											<td class="col26">{{user.address}}</td>
											<td class="col25">{{user.phoneNumber}}</td>
											<td class="col24">{{user.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
											<td class="col23">{{user.lastName}}</td>
											<td class="col22">{{user.firstName}}</td>
											<td class="col21">{{user.team}}</td>
										</tr>
									</table>
								</div>	
							</td>		
						</tr>		
					</table>
				</table>
			</div>
			
			<br><br>
			
			<span class = "sendEmailsCmd">			
				<a class="sendEmailsButton" type="button" ng-click="sendEmail()"><img class = "button_sendEmails" src = "../img/email.png"></img></a>
			</span>
			<span class = "exportCmd">
				<a class="exportButton" type="button" ng-click="exportData()"><img class = "button_export" src = "../img/excel.png"></img></a>
			</span>		

			<br><br>
			
			<div class="emailTxt">
				* כפתור 'שלח מייל לכולם'- שולח את המייל לרשימת האורחים, לא כולל משתמשים לא פעילים.
			</div>
        </div>
    </div>
</div>