<div class="row">
	<div class="box">
		<hr>
		<h2 class="intro-text text-center">פינת
			<strong>סידור תורנים</strong>
		</h2>
		<hr>
		
		<div class="row">
			<section>
				<div class="tabs tabs-style-linemove fourTabs">
					<nav>
						<ul>
							<li><a href="#section-linemove-1"><span>הצגת משמרות מתנדבים</span></a></li>
							<li><a href="#section-linemove-2"><span>הצגת בקשות למשמרת</span></a></li>
							<li><a href="#section-linemove-3"><span>הצגת סידור אופי עוגות</span></a></li>
							<li><a href="#section-linemove-4"><span>הצגת בקשות לאפיית עוגה</span></a></li>
						</ul>
					</nav>
					
					<div class="content-wrap">
						<!-- display volunteer arrangement shifts -->
						<section id="section-linemove-1">
							<div class = "arrangementDiv">
								<div class="col-md-4">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ימים<br>שעות</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuFirstVol1" ng-model = "thuShifts.firstShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuFirstVol2" ng-model = "thuShifts.firstShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedFirstVol1" ng-model = "wedShifts.firstShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedFirstVol2" ng-model = "wedShifts.firstShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueFirstVol1" ng-model = "tueShifts.firstShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueFirstVol2" ng-model = "tueShifts.firstShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monFirstVol1" ng-model = "monShifts.firstShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monFirstVol2" ng-model = "monShifts.firstShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunFirstVol1" ng-model = "sunShifts.firstShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunFirstVol2" ng-model = "sunShifts.firstShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">07:00 - 08:30</div>
								</div>
								<div class = "cenHr"></div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuSecondVol1" ng-model = "thuShifts.secondShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuSecondVol2" ng-model = "thuShifts.secondShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedSecondVol1" ng-model = "wedShifts.secondShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedSecondVol2" ng-model = "wedShifts.secondShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueSecondVol1" ng-model = "tueShifts.secondShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueSecondVol2" ng-model = "tueShifts.secondShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monSecondVol1" ng-model = "monShifts.secondShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monSecondVol2" ng-model = "monShifts.secondShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunSecondVol1" ng-model = "sunShifts.secondShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunSecondVol2" ng-model = "sunShifts.secondShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">08:30 - 11:00</div>
								</div>
								<div class = "cenHr"></div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuThirdVol1" ng-model = "thuShifts.thirdShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuThirdVol2" ng-model = "$thuShifts.thirdShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedThirdVol1" ng-model = "wedShifts.thirdShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedThirdVol2" ng-model = "wedShifts.thirdShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueThirdVol1" ng-model = "tueShifts.thirdShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueThirdVol2" ng-model = "tueShifts.thirdShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monThirdVol1" ng-model = "monShifts.thirdShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monThirdVol2" ng-model = "monShifts.thirdShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunThirdVol1" ng-model = "sunShifts.thirdShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunThirdVol2" ng-model = "sunShifts.thirdShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">11:00 - 13:30</div>
								</div>
								<div class = "cenHr"></div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuFourthVol1" ng-model = "thuShifts.fourthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuFourthVol2" ng-model = "thuShifts.fourthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedFourthVol1" ng-model = "wedShifts.fourthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedFourthVol2" ng-model = "wedShifts.fourthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueFourthVol1" ng-model = "tueShifts.fourthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueFourthVol2" ng-model = "tueShifts.fourthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monFourthVol1" ng-model = "monShifts.fourthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monFourthVol2" ng-model = "monShifts.fourthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunFourthVol1" ng-model = "sunShifts.fourthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunFourthVol2" ng-model = "sunShifts.fourthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">13:30 - 16:00</div>
								</div>
								<div class = "cenHr"></div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuFifthVol1" ng-model = "thuShifts.fifthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuFifthVol2" ng-model = "thuShifts.fifthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedFifthVol1" ng-model = "wedShifts.fifthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedFifthVol2" ng-model = "wedShifts.fifthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueFifthVol1" ng-model = "tueShifts.fifthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueFifthVol2" ng-model = "tueShifts.fifthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monFifthVol1" ng-model = "monShifts.fifthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monFifthVol2" ng-model = "monShifts.fifthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunFifthVol1" ng-model = "sunShifts.fifthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunFifthVol2" ng-model = "sunShifts.fifthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">16:00 - 18:30</div>
								</div>
								<div class = "cenHr"></div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "thuSixthVol1" ng-model = "thuShifts.sixthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "thuSixthVol2" ng-model = "thuShifts.sixthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "wedSixthVol1" ng-model = "wedShifts.sixthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "wedSixthVol2" ng-model = "wedShifts.sixthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "tueSixthVol1" ng-model = "tueShifts.sixthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "tueSixthVol2" ng-model = "tueShifts.sixthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "monSixthVol1" ng-model = "monShifts.sixthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "monSixthVol2" ng-model = "monShifts.sixthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" id = "sunSixthVol1" ng-model = "sunShifts.sixthShift.volunteer1Name" placeholder = "מתנדב 1"></input>
									<input type = "text" class="shift shift-success" id = "sunSixthVol2" ng-model = "sunShifts.sixthShift.volunteer2Name" placeholder = "מתנדב 2"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">18:30 - 21:00</div>
								</div>
								
								<div class="col-md-4">
									<button class="editShift" id="editShiftday1" ng-click = "saveShiftsDay(5)">שמור יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday2" ng-click = "saveShiftsDay(4)">שמור יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday3" ng-click = "saveShiftsDay(3)">שמור יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday4" ng-click = "saveShiftsDay(2)">שמור יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday5" ng-click = "saveShiftsDay(1)">שמור יום</button>
								</div>
							</div>
							
							<div class="commentsDiv">
								<span class="comments">
									* יש לעדכן ולשמור את השינויים עבור כל יום בנפרד. כלומר בסיום עדכון יום יש תחילה ללחוץ על כפתור "שמור יום" לפני מעבר לעדכון היום הבא.
								</span>
							</div>
						</section>
						
						<!-- display volunteer shift requests -->
						<section id="section-linemove-2">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol0"></th><!-- deletion col -->
											<th class = "reqCol1">תאריך המשמרת</th>
											<th class = "reqCol2">זמן משמרת</th>
											<th class = "reqCol3">שם המבקש</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in shiftRequests">
											<td class = "reqCol0">
												<input type = "image" class = "delShiftReq" src = "../img/RedX.png" title="מחק בקשה" ng-click="removeShiftRequest(request._id)"></input>
											</td>
											<td class = "reqCol1">{{request.shiftDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.shiftTime}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
						
						<!-- display bakers arrangement -->
						<section id="section-linemove-3">
							<div class = "bakersArrangementDiv">
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">חמישי</div>
									
									<div class="col-md-4 col-sm-8" ng-repeat="cake in thuCakes">
										<input type = "image" class = "deleteCake" src = "../img/RedX.png" title="מחק אופה" ng-click="removeBaker(cake._id)"></input>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.bakerName}}</div>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.cake}}</div>
									</div>
									<div class="col-md-4 col-sm-8">
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.thuCakes.bakerName" placeholder = "שם האופה"></input>
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.thuCakes.cake" placeholder = "מה מביא"></input>
									</div>
									
									<div class="col-md-4 col-sm-8">
										<button class="editShift editCake" id="editCakeday1" ng-click = "addBaker(5)">הוסף אופה</button>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">רביעי</div>
									
									<div class="col-md-4 col-sm-8" ng-repeat="cake in wedCakes">
										<input type = "image" class = "deleteCake" src = "../img/RedX.png" title="מחק אופה" ng-click="removeBaker(cake._id)"></input>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.bakerName}}</div>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.cake}}</div>
									</div>
									<div class="col-md-4 col-sm-8">
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.wedCakes.bakerName" placeholder = "שם האופה"></input>
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.wedCakes.cake" placeholder = "מה מביא"></input>
									</div>
									
									<div class="col-md-4 col-sm-8">
										<button class="editShift editCake" id="editCakeday2" ng-click = "addBaker(4)">הוסף אופה</button>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שלישי</div>
									
									<div class="col-md-4 col-sm-8" ng-repeat="cake in tueCakes">
										<input type = "image" class = "deleteCake" src = "../img/RedX.png" title="מחק אופה" ng-click="removeBaker(cake._id)"></input>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.bakerName}}</div>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.cake}}</div>
									</div>
									<div class="col-md-4 col-sm-8">
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.tueCakes.bakerName" placeholder = "שם האופה"></input>
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.tueCakes.cake" placeholder = "מה מביא"></input>
									</div>
									
									<div class="col-md-4 col-sm-8">
										<button class="editShift editCake" id="editCakeday3" ng-click = "addBaker(3)">הוסף אופה</button>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שני</div>
									
									<div class="col-md-4 col-sm-8" ng-repeat="cake in monCakes">
										<input type = "image" class = "deleteCake" src = "../img/RedX.png" title="מחק אופה" ng-click="removeBaker(cake._id)"></input>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.bakerName}}</div>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.cake}}</div>
									</div>
									<div class="col-md-4 col-sm-8">
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.monCakes.bakerName" placeholder = "שם האופה"></input>
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.monCakes.cake" placeholder = "מה מביא"></input>
									</div>
									
									<div class="col-md-4 col-sm-8">
										<button class="editShift editCake" id="editCakeday4" ng-click = "addBaker(2)">הוסף אופה</button>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">ראשון</div>
									
									<div class="col-md-4 col-sm-8" ng-repeat="cake in sunCakes">
										<input type = "image" class = "deleteCake" src = "../img/RedX.png" title="מחק אופה" ng-click="removeBaker(cake._id)"></input>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.bakerName}}</div>
										<div type = "text" class="shift shift-success col-sm-7">{{cake.cake}}</div>
									</div>
									<div class="col-md-4 col-sm-8">
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.sunCakes.bakerName" placeholder = "שם האופה"></input>
										<input type = "text" class="shift shift-warning col-sm-7" ng-model = "newCake.sunCakes.cake" placeholder = "מה מביא"></input>
									</div>
									
									<div class="col-md-4 col-sm-8">
										<button class="editShift editCake" id="editCakeday5" ng-click = "addBaker(1)">הוסף אופה</button>
									</div>
								</div>
							</div>
							
							<div class="commentsDiv">
								<span class="comments">
									* יש לעדכן ולשמור את השינויים עבור כל יום בנפרד. כלומר בסיום עדכון יום יש תחילה ללחוץ על כפתור "הוסף אופה" לפני מעבר לעדכון היום הבא.
								</span>
							</div>
						</section>
						
						<!-- display bakers cake requests -->
						<section id="section-linemove-4">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol0"></th><!-- deletion col -->
											<th class = "reqCol1">תאריך הבאת עוגה</th>
											<th class = "reqCol2">מה מביא</th>
											<th class = "reqCol3">שם האופה</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in cakeRequests">
											<td class = "reqCol0">
												<input type = "image" class = "delShiftReq" src = "../img/RedX.png" title="מחק בקשה" ng-click="removeCakeRequest(request._id)"></input>
											</td>
											<td class = "reqCol1">{{request.cakeDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.cake}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
			<script src="../js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call(document.querySelectorAll('.tabs')).forEach(function(el){
						new CBPFWTabs(el);
					});
				})();
			</script>
		</div>
	</div>
</div>