<div class="row">
	<div class="box">
		<hr>
		<h2 class="intro-text text-center">פינת
			<strong>סידור תורנים</strong>
		</h2>
		<hr>
		
		<div class="row">
			<section>
				<div class="tabs tabs-style-linemove fourTabs">
					<nav>
						<ul>
							<li><a href="#section-linemove-1"><span>הצגת משמרות מתנדבים</span></a></li>
							<li><a href="#section-linemove-2"><span>הצגת בקשות למשמרת</span></a></li>
							<li><a href="#section-linemove-3"><span>הצגת סידור אופי עוגות</span></a></li>
							<li><a href="#section-linemove-4"><span>הצגת בקשות לאפיית עוגה</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linemove-1">
							<div class = "arrangementDiv">
								<div class="col-md-4">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ימים<br>שעות</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.firstShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.firstShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.firstShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.firstShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.firstShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.firstShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.firstShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.firstShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.firstShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.firstShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">07:00 - 08:30</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.secondShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.secondShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.secondShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.secondShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.secondShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.secondShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.secondShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.secondShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.secondShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.secondShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">08:30 - 11:00</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.thirdShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "$thuShifts.thirdShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.thirdShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.thirdShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.thirdShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.thirdShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.thirdShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.thirdShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.thirdShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.thirdShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">11:00 - 13:30</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.fourthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.fourthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.fourthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.fourthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.fourthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.fourthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.fourthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.fourthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.fourthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.fourthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">13:30 - 16:00</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.fifthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.fifthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.fifthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.fifthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.fifthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.fifthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.fifthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.fifthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.fifthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.fifthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">16:00 - 18:30</div>
								</div>
								
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.sixthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "thuShifts.sixthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.sixthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-danger" ng-model = "wedShifts.sixthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.sixthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "tueShifts.sixthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "monShifts.sixthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "monShifts.sixthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.sixthShift.volunteer1Name"></input>
									<input type = "text" class="shift shift-success" ng-model = "sunShifts.sixthShift.volunteer2Name"></input>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">18:30 - 21:00</div>
								</div>
								
								<div class="col-md-4">
									<button class="editShift" id="editShiftday1" ng-click = "popShiftday(5)">ערוך יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday2" ng-click = "popShiftday(4)">ערוך יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday3" ng-click = "popShiftday(3)">ערוך יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday4" ng-click = "popShiftday(2)">ערוך יום</button>
								</div>
								<div class="col-md-4">
									<button class="editShift" id="editShiftday5" ng-click = "popShiftday(1)">ערוך יום</button>
								</div>
							</div>
						</section>
						<section id="section-linemove-2">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol1">תאריך המשמרת</th>
											<th class = "reqCol2">זמן משמרת</th>
											<th class = "reqCol3">שם המבקש</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in shiftRequests">
											<td class = "reqCol1">{{request.shiftDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.shiftTime}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
						<section id="section-linemove-3">
							<div class = "arrangementDiv">
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-danger col-sm-7">אין צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-danger col-sm-7">אין צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<button class="editShift editCake" id="editCakeday1" ng-click = "popCakeday(5)">ערוך יום</button>
								</div>
								<div class="col-md-4 col-sm-6">
									<button class="editShift editCake" id="editCakeday2" ng-click = "popCakeday(4)">ערוך יום</button>
								</div>
								<div class="col-md-4 col-sm-6">
									<button class="editShift editCake" id="editCakeday3" ng-click = "popCakeday(3)">ערוך יום</button>
								</div>
								<div class="col-md-4 col-sm-6">
									<button class="editShift editCake" id="editCakeday4" ng-click = "popCakeday(2)">ערוך יום</button>
								</div>
								<div class="col-md-4 col-sm-6">
									<button class="editShift editCake" id="editCakeday5" ng-click = "popCakeday(1)">ערוך יום</button>
								</div>
							</div>
						</section>
						<section id="section-linemove-4">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol1">תאריך הבאת עוגה</th>
											<th class = "reqCol2">מה מביא</th>
											<th class = "reqCol3">שם האופה</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in cakeRequests">
											<td class = "reqCol1">{{request.cakeDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.cake}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
			<script src="../js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call(document.querySelectorAll('.tabs')).forEach(function(el){
						new CBPFWTabs(el);
					});
				})();
			</script>
		</div>
	</div>
</div>