<div class="row">
	<div class="box">
		<hr>
		<h2 class="intro-text text-center">פינת
			<strong>סידור תורמים</strong>
		</h2>
		<hr>
		
		<div class="row">
			<section>
				<div class="tabs tabs-style-linemove fourTabs">
					<nav>
						<ul>
							<li><a href="#section-linemove-1"><span>הצגת משמרות מתנדבים</span></a></li>
							<li><a href="#section-linemove-2"><span>הצגת בקשות למשמרת</span></a></li>
							<li><a href="#section-linemove-3"><span>הצגת סידור אופי עוגות</span></a></li>
							<li><a href="#section-linemove-4"><span>הצגת בקשות לאפיית עוגה</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linemove-1">
							<div class = "arrangementDiv">
								<div class="col-md-4">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ימים<br>שעות</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">08:00 - 10:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">10:00 - 12:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">12:00 - 14:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">14:00 - 16:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">16:00 - 18:00</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-success">פנוי</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-danger">תפוס</div>
								</div>
								<div class="col-md-4">
									<div class="shift shift-time">18:00 - 20:00</div>
								</div>
							</div>
						</section>
						<section id="section-linemove-2">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol1">תאריך המשמרת</th>
											<th class = "reqCol2">זמן משמרת</th>
											<th class = "reqCol3">שם המבקש</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in shiftRequests">
											<td class = "reqCol1">{{request.shiftDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.shiftTime}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
						<section id="section-linemove-3">
							<div class = "arrangementDiv">
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">חמישי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">רביעי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שלישי</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">שני</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-days">ראשון</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-danger col-sm-7">אין צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-danger col-sm-7">אין צורך</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="shift shift-success col-sm-7">יש צורך</div>
								</div>
							</div>
						</section>
						<section id="section-linemove-4">
							<div class="box-table">
								<table id="volunteersRequestsTable">
									<thead>
										<tr>
											<th class = "reqCol1">תאריך הבאת עוגה</th>
											<th class = "reqCol2">מה מביא</th>
											<th class = "reqCol3">שם האופה</th>
											<th class = "reqCol4">מספר טלפון</th>
											<th class = "reqCol5">הערות</th>
											<th class = "reqCol6">תאריך בקשה</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="request in cakeRequests">
											<td class = "reqCol1">{{request.cakeDate | date : 'dd/MM/yyyy'}}</td>
											<td class = "reqCol2">{{request.cake}}</td>
											<td class = "reqCol3">{{request.applicantName}}</td>
											<td class = "reqCol4">{{request.applicantPhoneNumber}}</td>
											<td class = "reqCol5">{{request.comments}}</td>
											<td class = "reqCol6">{{request.requestDate | date : 'dd/MM/yyyy'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
			<script src="../js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call(document.querySelectorAll('.tabs')).forEach(function(el){
						new CBPFWTabs(el);
					});
				})();
			</script>
		</div>
	</div>
</div>