<div class="row" ng-controller="stockController">
    <div class="box">
        <hr>
            <h2 class="intro-text text-center">פינת
                <strong>חסרים במלאי</strong>
            </h2>
            <hr>
			<br>
			<h3 id="title" class="intro-text text-center"> הכניסו מוצר </h3>
			
			<div id="container">
				<form name="stockForm" ng-submit="submitStockForm()">
					<ul class="formStock">
						<span class = "inline">
							<label id="GroupType"> תחום </label>
							<select name = "groupType" class="groupType" id="groupType" ng-model="stock.groupType">
								<option value = "pina" selected> פינה </option>
								<option value = "bakery"> חדר אפיה </option>
								<option value = "falafel">  פלאפל </option>
							</select>
						</span>
					
						<span class = "inline">
							<label id="Category">קטגוריה</label>
							<select name = "category" class="category" id="category" ng-model="stock.category">
								<option value = "basicProducts" selected> מוצרי יסוד </option>
								<option value = "detergents"> חומרי ניקוי </option>
								<option value = "disposableDishes">  כלים חד פעמיים </option>
								<option value = "bakingProducts"> מוצרי אפיה </option>
								<option value = "falafel"> פלאפל </option>
								<option value = "other"> שונות </option>
							</select>
						</span>

						<span class = "inline">
							<label id="Product">מוצר<span class="required">*</span></label>
							<input type="text" name="product" class="product" id="product" ng-required="required.product" ng-model="stock.product"/>
						</span>
						
						<span class = "inline">
							<label id="Quantity">כמות<span class="required">*</span></label>
							<input type="text" pattern="\d*" maxlength="5" name="quantity" class="quantity" id="quantity" ng-required="required.quantity" ng-model="stock.quantity"/>
						</span>
						
						<span class = "inline">
							<label id="Name">שם</label>
							<input type="text" name="name" class="name" id="name" ng-model="stock.name"/>
						</span>
						
						<span class = "inline">
							<label id="Phone">טלפון</label>
							<input type="text" name="telephone" class="telephone" id="telephone" ng-model="stock.phoneNumber"/>
						</span>
						
						<span class = "inline">
							<label id="Comments">הערות</label>
							<input type="text" name="formComments" class="formComments" id="formComments" maxlength="200" placeholder="פרטים נוספים " ng-model="stock.comments"></input>
						</span>

						<span id = "cmd" class="addStock-container">
							<button type="submit" id="addStock" class="addStock">+</button>
						</span>
						
						<span>
							<button type="button" id="updateStock" class="updateStock" ng-disabled="isDisabledUpdate" ng-click="update()">עדכן</button>
						</span>
						
					</ul>
				</form>	
			</div>
	
			<div class="commentsDiv">
				<span class="comments">
					השדות המסומנים ב - <span class="required">*</span> הינם שדות חובה.
				</span>
			</div>
			
			<br><br>
			<h3 id="title" class="intro-text text-center"> רשימת מוצרים חסרים </h3>
			
			
			<table class="fixed_headers">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>הערות</th>
						<th>כמות</th>
						<th>מוצר</th>
						<th>קטגוריה</th>
						<th></th>
					</tr>
				</thead>		
			</table>
			
			<table class="fixed_headers">
				<div class="caption">פינה</div>
				<tbody>
					<tr ng-repeat="stock in stocksPinaList">
						<td>
							<input type="image" class="edit" id="edit" src="../img/edit.png" title="ערוך מוצר" ng-click="edit(stock._id)">
							<input type="image" class="delete" id="delete" src="../img/delete.png" title="מחק מוצר" ng-click="remove(stock._id)">
						</td>
						<td><button type="button" class="details" ng-click="showDetails(stock.details)">פרטים נוספים</button></td>
						<td class="comment">{{stock.comments}}</td>
						<td>{{stock.quantity}}</td>
						<td>{{stock.product}}</td>
						<td>{{stock.category}}</a></td>
						<td><input type="checkbox" name="purchased" class="purchased" value="purchased" ng-model="stock.isBought" ng-change="updateBought(stock._id, stock.isBought)"></td>
					</tr>
				</tbody>
			</table>

			<table class="fixed_headers">
				<div class="caption">חדר אפיה</div>
				<tbody>
					<tr ng-repeat="stock in stocksBakeryList">
						<td>
							<input type="image" class="edit" id="edit" src="../img/edit.png" title="ערוך מוצר" ng-click="edit(stock._id)">
							<input type="image" class="delete" id="delete" src="../img/delete.png" title="מחק מוצר" ng-click="remove(stock._id)">
						</td>
						<td><button type="button" class="details" ng-click="showDetails(stock.details)">פרטים נוספים</button></td>
						<td class="comment">{{stock.comments}}</td>
						<td>{{stock.quantity}}</td>
						<td>{{stock.product}}</td>
						<td>{{stock.category}}</a></td>
						<td><input type="checkbox" name="purchased" class="purchased" value="purchased" ng-model="stock.isBought" ng-change="updateBought(stock._id, stock.isBought)"></td>
					</tr>
				</tbody>
			</table>

			<table class="fixed_headers">
				<div class="caption">פלאפל</div>
				<tbody>
					<tr ng-repeat="stock in stocksFalafelList">
						<td>
							<input type="image" class="edit" id="edit" src="../img/edit.png" title="ערוך מוצר" ng-click="edit(stock._id)">
							<input type="image" class="delete" id="delete" src="../img/delete.png" title="מחק מוצר" ng-click="remove(stock._id)">
						</td>
						<td><button type="button" class="details" ng-click="showDetails(stock.details)">פרטים נוספים</button></td>
						<td class="comment">{{stock.comments}}</td>
						<td>{{stock.quantity}}</td>
						<td>{{stock.product}}</td>
						<td>{{stock.category}}</a></td>
						<td><input type="checkbox" name="purchased" class="purchased" value="purchased" ng-model="stock.isBought" ng-change="updateBought(stock._id, stock.isBought)"></td>
					</tr>
				</tbody>
			</table>
    </div>
</div>