<div id="header"></div>
<div>
	<center><h2 id = "mainTitle">!ברוכים הבאים לפינה החמה</h2>
	<div id="secondTitle">לזכר ד"ר שמואל גיליס וצחי ששון הי"ד</div></center>
</div>
<div id="site_content2">	
	<div><center>
		<img id= "imgLogo" src="img/logo.png"></a>	
	</center></div>
	</br>
	<br>
	<div>
	<center>
		<button id = "googleRegister" ng-click="register()">הירשם לאתרנו<img src = "img/seperatorReg.png"></img> <img id = "imgG" src = "img/G.png"></img></button>
		<button id = "googleLogin" ng-click="signIn()">התחבר לאתרנו<img src = "img/seperatorIn.png"></img> <img id = "imgG" src = "img/G.png"></img></button>
		</br></br></br></br>
	</center></div>

</div><!--close site_content-->